
@import 'variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $primary-color;
}

header {
  background-color: #171413;
  padding: 5px $medium-px;
  @include flex(space-between, center);
  
  img {
    width: 60px;
  }

  #search {
    outline-color: $primary-color;
    min-height: 25px;
  }
}

.container {
	max-width: 750px;
	margin: 30px auto;
	@include flex(center, stretch);
	flex-wrap: wrap;
}

.cover {
	@include flex(flex-start, center);
	flex-direction: column;
	flex-basis: calc(100% / 4 - 5%);
	padding: $medium-px;
	margin: 1% 2%;
  background-color: $secondary-color;
  
    img {
      width: 100%;
    }

    .description {
      text-align: center;
      padding-top: 10px;

      h3 {
       font-size: $medium-px;
       color: #fff;
       margin-bottom: $medium-px;
       text-transform: uppercase;
      }

      h4 {
       color: #6c6e71;
      }
    }
}
